.productos4, .productos3, .productos2, .productos1 {
  padding: 47px 0 47px;
  margin-top: 33px;
  margin-left: 5px;
  margin-bottom: 33px;
  border-radius: 8px;
  width: 85vw;
  font-weight: bold;
  color: white;
  text-align: center;
}
.productos4:hover, .productos3:hover, .productos2:hover, .productos1:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.productos1 {
  border: 2px solid #ff758f;
  background-color: #ff758f;
}

.productos2 {
  border: 2px solid #00b4d8;
  background-color: #00b4d8;
}

.productos3 {
  border: 2px solid #858ae3;
  background-color: #858ae3;
}

.productos4 {
  border: 2px solid #c38e70;
  background-color: #c38e70;
}

.imagen1 {
  border-radius: 18px;
  margin-top: 33px;
  margin-left: 36px;
  margin-bottom: 33px;
  width: 85vw;
}
.imagen1:hover {
  box-shadow: 0px 0px 10px rgb(25, 159, 101);
}

.imagen2 {
  border-radius: 18px;
  margin-top: 33px;
  margin-left: 36px;
  margin-bottom: 33px;
  width: 85vw;
}
.imagen2:hover {
  box-shadow: 0px 0px 10px rgb(25, 159, 101);
}

.imagen3 {
  border-radius: 18px;
  margin-top: 33px;
  margin-left: 36px;
  margin-bottom: 33px;
  width: 85vw;
}
.imagen3:hover {
  box-shadow: 0px 0px 10px rgb(25, 159, 101);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
  text-decoration: none;
}

#main1 a {
  color: unset;
}

a {
  text-decoration: unset;
}

#main1 footer ul {
  padding-left: 0;
}

#main1 h2 {
  font-size: 20px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header ::placeholder {
  font-style: italic;
}
header picture {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: relative;
}
header picture a img {
  width: 40vw;
}
header form {
  display: flex;
  justify-content: center;
  width: 100vw;
}
header form input {
  border-radius: 4px;
  padding: 10px 0;
  width: 70vw;
}
header form input:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
header .datos1 {
  display: none;
}
header .datos2 {
  display: flex;
  position: absolute;
  left: 93vw;
  top: 24px;
  font-size: 24px;
  z-index: 1;
}
header .datos2 span {
  display: none;
}
header .secciones li {
  display: none;
}
li header .datos:hover {
  text-decoration: underline;
}
header .fa-user {
  display: none;
}
header .fa-magnifying-glass {
  position: relative;
  right: 30px;
  top: 14px;
}
header .hamburguesa button {
  display: flex;
  position: relative;
  left: 5px;
  width: 55px;
  top: 22px;
  z-index: 1;
}
header .hamburguesa img {
  width: 24px;
}
header .datos1 {
  display: none;
}
header .datos2 span {
  display: none;
}
header .cuenta {
  color: #538d22;
}
@media screen and (min-width: 1200px) {
  header picture {
    width: 17vw;
  }
  header picture a img {
    width: 17vw;
  }
  header form {
    width: 30vw;
    height: 65px;
    position: relative;
    right: 18vw;
  }
  header form input {
    margin-top: 28px;
    border-radius: 4px;
    width: 25vw;
  }
  header form .fa-magnifying-glass {
    position: relative;
    top: 40px;
  }
  header section .datos {
    position: relative;
    right: 5%;
    top: 40px;
    font-weight: lighter;
    font-size: 15px;
    color: #495057;
    display: flex;
  }
  header section .datos .fa-user {
    display: contents;
    position: relative;
    font-size: 21px;
  }
  header section .datos .datos2 {
    position: relative;
    left: 8px;
    top: 0.5px;
    font-size: 20px;
  }
  header section .datos .datos2 span {
    display: contents;
    font-weight: lighter;
    font-size: 15px;
    color: #495057;
    display: flex;
    margin-left: 4px;
  }
  header section .datos a {
    display: flex;
  }
  header section .datos li {
    display: flex;
    margin-right: 10px;
  }
  header section .datos li:hover {
    text-decoration: underline;
  }
  header section nav .secciones {
    margin-left: 20px;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
  header section nav .secciones li {
    display: contents;
    font-size: 14px;
    font-weight: bold;
  }
  header section nav .secciones li:hover {
    color: #538d22;
    text-decoration-line: overline;
  }
  header .fa-bars {
    display: none;
  }
  header .hamburguesa {
    display: none;
  }
  header .fa-user {
    display: contents;
    position: relative;
    font-size: 21px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .newsletter {
  background-color: #dde7c7;
  width: 100vw;
  padding: 30px 0;
  margin-bottom: 5px;
}
footer .newsletter h2 {
  font-size: large;
  font-weight: lighter;
  text-align: center;
}
footer .newsletter form {
  text-align: center;
  margin-top: 10px;
}
footer .newsletter form .fa-hand-pointer {
  position: relative;
  right: 27px;
}
footer .newsletter form input {
  border-radius: 4px;
  padding: 10px;
  width: 70vw;
}
footer .newsletter form input:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
footer picture {
  display: none;
}
footer h4 {
  font-size: 14px;
}
footer .sociales {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  position: relative;
  right: 5px;
}
footer .none {
  display: block;
  text-align: justify;
  display: none;
}
footer .none h4 {
  margin-bottom: 8px;
}
footer .si {
  display: block;
  text-align: center;
  justify-content: center;
  position: relative;
  left: 20px;
}
footer .si h5 {
  margin-top: 8px;
  color: #538d22;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}
footer .si h5:hover {
  text-decoration: underline;
}
footer .si li {
  font-size: 14px;
  margin-top: 8px;
  position: relative;
  right: 23px;
}
footer .si h4 {
  text-align: justify;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  footer picture {
    display: contents;
  }
  footer img {
    width: 30vw;
  }
  footer article {
    display: inline-block;
  }
  footer h2 {
    font-size: 18;
  }
  footer h4 {
    text-align: left;
    font-weight: bold;
  }
  footer h5 {
    font-size: 14px;
  }
  footer .none {
    display: block;
    font-size: 12px;
  }
  footer .newsletter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  footer .newsletter form .fa-hand-pointer {
    position: relative;
    right: 27px;
  }
  footer .newsletter form input {
    width: 25vw;
  }
  footer .info {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
  }
}

#index {
  display: block;
}
#index h1 {
  display: none;
}
#index .carruseldesktop {
  display: none;
}
#index section ul .lista {
  border: 2px solid #538d22;
  padding: 23px;
  margin-top: 33px;
  margin-left: 5px;
  margin-bottom: 33px;
  background-color: #f4f3ee;
  border-radius: 8px;
  width: 85vw;
  text-align: center;
  color: #538d22;
  font-weight: bold;
}
#index section ul .lista:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
#index .oportunidades {
  border: 2px solid #eae6e5;
  background-color: #eae6e5;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
#index .oportunidades h2 {
  font-weight: lighter;
  border-bottom: 1px solid black;
}
#index .oportunidades ul .articulo {
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  width: 80vw;
  transition: ease-in-out 0.1s;
  margin-left: 5px;
}
#index .oportunidades ul .articulo article h4 {
  font-size: 16px;
  font-weight: bold;
}
#index .oportunidades ul .articulo article p span {
  text-decoration: line-through;
  color: red;
}
#index .oportunidades ul .articulo article button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a5a5a5;
  background-color: #538d22;
  color: white;
  font-weight: bold;
}
#index .oportunidades ul .articulo article button:hover {
  text-decoration: underline;
  transform: translate(-1px, -2px);
  transition: ease-in-out 0.1s;
}
#index .oportunidades ul .articulo:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
#index .nuestras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#index .nuestras .marcas {
  border-bottom: 1px solid black;
  text-align: center;
  width: 99vw;
}
#index .nuestras picture .imagen4 {
  width: 30vw;
}
#index .nuestras picture .imagen5 {
  width: 30vw;
}
#index .nuestras picture .imagen6 {
  width: 30vw;
}
@media screen and (min-width: 1200px) {
  #index .carruseldesktop {
    display: contents;
  }
  #index .carruselmobile {
    display: none;
  }
  #index section ul {
    display: flex;
    justify-content: space-evenly;
  }
  #index section ul .lista {
    margin-left: 36px;
    width: 23vw;
  }
  #index section nav ul .productos1 {
    border: 2px solid #ff758f;
    padding: 47px 0 47px;
    margin-top: 33px;
    margin-left: 36px;
    margin-bottom: 33px;
    background-color: #ff758f;
    border-radius: 8px;
    width: 15%;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  #index section nav ul .productos2 {
    border: 2px solid #00b4d8;
    padding: 47px 0 47px;
    margin-top: 33px;
    margin-left: 36px;
    margin-bottom: 33px;
    background-color: #00b4d8;
    border-radius: 8px;
    width: 15%;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  #index section nav ul .productos3 {
    border: 2px solid #858ae3;
    padding: 47px 0 47px;
    margin-top: 33px;
    margin-left: 36px;
    margin-bottom: 33px;
    background-color: #858ae3;
    border-radius: 8px;
    width: 15%;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  #index section nav ul .productos4 {
    border: 2px solid #c38e70;
    padding: 47px 0 47px;
    margin-top: 33px;
    margin-left: 36px;
    margin-bottom: 33px;
    background-color: #c38e70;
    border-radius: 8px;
    width: 15%;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  #index section picture .imagen1 {
    border-radius: 18px;
    margin-top: 33px;
    margin-left: 36px;
    margin-bottom: 33px;
    width: 43.5vw;
  }
  #index section picture .imagen2 {
    border-radius: 18px;
    margin-top: 33px;
    margin-left: 36px;
    margin-bottom: 33px;
    width: 22vw;
  }
  #index section picture .imagen3 {
    border-radius: 18px;
    margin-top: 33px;
    margin-left: 36px;
    margin-bottom: 33px;
    width: 22vw;
  }
  #index .oportunidades {
    padding: 16px;
  }
  #index .oportunidades ul .articulo {
    margin: 10px 0;
    width: 20vw;
  }
  #index .nuestras picture .imagen4 {
    width: 200px;
  }
  #index .nuestras picture .imagen5 {
    width: 200px;
  }
  #index .nuestras picture .imagen6 {
    width: 200px;
  }
}

.login .registrodesktop {
  display: none;
}
.login .registrodesktop img {
  width: 99vw;
}
.login .registromobile img {
  width: 99vw;
}
.login section {
  width: 50%;
  align-items: center;
  position: relative;
  left: 25%;
  margin-top: 80px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 100px;
}
.login section h1 {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-size: 18px;
}
.login section form {
  text-align: center;
  display: block;
}
.login section form label {
  display: block;
  font-weight: bold;
  margin-top: 50px;
}
.login section form input {
  padding: 6px 20%;
  margin-top: 15px;
  position: relative;
  right: 15px;
}
.login section form input:hover {
  box-shadow: 0px 0px 10px rgb(6, 185, 158);
}
.login section form button {
  margin: 40px 0;
  padding: 10px 60px;
  border-radius: 10px;
  border: 1px solid #a5a5a5;
  background-color: #538d22;
  color: white;
  font-weight: bold;
}
.login section form button:hover {
  transform: translate(-1px, -2px);
  transition: ease-in-out 0.1s;
}
.login section article {
  font-weight: bold;
  text-align: center;
  border: solid black 1px;
  padding: 35px 0;
  border-radius: 5px;
}
.login section article ul li span {
  position: relative;
  right: 5px;
}
.login section article ul li span:hover {
  text-decoration: underline;
}
.login section article ul li a {
  position: relative;
  right: 15px;
}
.login section article ul li a:hover {
  text-decoration: underline;
}
.login section article ul:hover {
  text-decoration: underline;
}
.login section article picture img {
  width: 5vw;
  margin-top: 5px;
}
@media screen and (min-width: 1200px) {
  .login .registromobile {
    display: none;
  }
  .login .registrodesktop {
    display: contents;
  }
  .login section {
    border: 3px double black;
    border-radius: 5px;
    margin-bottom: 80px;
  }
  .login section form input {
    position: relative;
    left: 5px;
  }
  .login section form button {
    display: block;
    position: relative;
    left: 37%;
  }
  .login section article {
    border: none;
  }
  .login section article ul li span {
    position: relative;
    right: unset;
  }
  .login section article ul li a {
    position: relative;
  }
}

#main1 .register section {
  margin-bottom: 80px;
  padding-bottom: 20px;
}
#main1 .register section h1 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 60px 0 40px 18px;
  font-size: large;
  margin-top: 5px;
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#main1 .register section form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: space-evenly;
}
#main1 .register section form button {
  margin: 40px 0 0;
  padding: 10px 60px;
  border-radius: 10px;
  border: 1px solid #a5a5a5;
  background-color: #538d22;
  color: white;
  font-weight: bold;
  display: block;
}
#main1 .register section form button:hover {
  transform: translate(-1px, -2px);
  transition: ease-in-out 0.1s;
}
#main1 .register section form div {
  border: white;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 70vw;
}
#main1 .register section form div label {
  font-weight: bold;
  margin-top: 10px;
}
#main1 .register section form div input {
  padding: 6px 10%;
  margin-top: 12px;
}
#main1 .register section form div input:hover {
  box-shadow: 0px 0px 10px rgb(6, 185, 158);
  color: #538d22;
}
#main1 .register section form #checkboxx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90vw;
  padding: 50px 0;
}
#main1 .register section form #checkboxx span {
  margin-left: 8px;
  position: relative;
  top: 5px;
}
#main1 .register .registromobile img {
  width: 99vw;
}
#main1 .register .registrodesktop {
  display: none;
}
#main1 .register .registrodesktop img {
  width: 99vw;
}
@media screen and (min-width: 1200px) {
  #main1 .register section form div {
    width: 38vw;
  }
  #main1 .register section form div input {
    padding: 6px 10%;
    margin-top: 12px;
  }
  #main1 .register .registromobile {
    display: none;
  }
  #main1 .register .registrodesktop {
    display: contents;
  }
}

.contacto h1 {
  display: none;
}
.contacto .contactodesktop {
  display: none;
}
.contacto .contactodesktop img {
  width: 100vw;
}
.contacto .contactomobile img {
  width: 100vw;
}
.contacto section {
  width: 100vw;
  border: none;
  align-items: center;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 30px;
  padding-bottom: 40px;
}
.contacto section h3 {
  font-size: 22px;
  word-spacing: 5px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  margin-bottom: 60px;
}
.contacto section form {
  text-align: center;
  display: block;
}
.contacto section form label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}
.contacto section form input {
  padding: 2.5px 25%;
  margin-top: 15px;
}
.contacto section form input:hover {
  box-shadow: 0px 0px 10px rgb(6, 185, 158);
}
.contacto section form #consulta {
  padding-bottom: 200px;
}
.contacto section form button {
  margin: 40px 0;
  padding: 10px 60px;
  border-radius: 10px;
  border: 1px solid #a5a5a5;
  background-color: #538d22;
  color: white;
  font-weight: bold;
}
.contacto section form button:hover {
  transform: translate(-1px, -2px);
  transition: ease-in-out 0.1s;
}
@media screen and (min-width: 1200px) {
  .contacto .contactodesktop {
    display: contents;
  }
  .contacto .contactomobile {
    display: none;
  }
  .contacto section {
    border: 3px double black;
    border-radius: 5px;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .contacto section h3 {
    font-weight: lighter;
    font-size: 20px;
  }
  .contacto form button {
    display: block;
    position: relative;
    left: 40%;
  }
}

.shop {
  border-top: solid #538d22 1px;
}
.shop h1 {
  font-size: 23px;
}
.shop h5 {
  font-size: 23px;
}
.shop button {
  background-color: #538d22;
  color: white;
}
.shop button:hover {
  transform: translate(-1px, -2px);
  transition: ease-in-out 0.1s;
  text-decoration: underline;
  color: white;
}

#cuidado h1 {
  display: none;
}
#cuidado picture {
  width: 100vw;
  display: flex;
  justify-content: center;
}
#cuidado picture .movil {
  display: block;
  width: 95vw;
}
#cuidado .filtros {
  margin-left: 10px;
}
#cuidado .filtros article {
  margin-bottom: 10px;
}
#cuidado .filtros article h6 {
  font-weight: bold;
}
#cuidado .filtros article ul {
  padding: 0;
}
#cuidado .filtros article ul li:hover {
  text-decoration: underline;
}
#cuidado .filtros article div input:checked {
  background-color: #538d22;
}
#cuidado section .card {
  margin-left: 10px;
  margin-bottom: 20px;
}
#cuidado section .card .btn {
  background-color: #538d22;
  color: white;
}
#cuidado section .card .btn:hover {
  transform: translate(-1px, -2px);
  transition: ease-in-out 0.1s;
  text-decoration: underline;
  color: white;
}
#cuidado section .card .card-title {
  font-size: medium;
  font-weight: 800;
}
#cuidado section .card .precio {
  font-weight: 600;
}
#cuidado section .card img {
  width: 35vw;
  margin-left: 30px;
}
@media screen and (min-width: 1200px) {
  #cuidado {
    display: flex;
    flex-wrap: wrap;
  }
  #cuidado picture .movil {
    width: 60vw;
  }
  #cuidado .filtros {
    display: flex;
    flex-direction: column;
  }
  #cuidado section .card img {
    width: 10vw;
  }
}

/*# sourceMappingURL=style.css.map */
