footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap:wrap;
        
        .newsletter {
            background-color:nth($colores, $n: 2);
            width: 100vw;
            padding: 30px 0 ;
            margin-bottom: 5px;
            h2{ 
                font-size:large;
                font-weight: lighter;
                text-align: center;
                }
            form{
                text-align: center;
                margin-top: 10px; 
                
                .fa-hand-pointer{
                    position: relative;
                    right: 27px;
                }
    
                input{
                    border-radius: 4px;
                    padding: 10px;
                    width: 70vw;
                    &:hover{
                    box-shadow: 0px 0px 10px rgb(100, 100, 100)
                    }
    
                
                }
            }
            
        }
    
        picture{
        display: none;
        }   

    
        h4{
        font-size: 14px;
        }
     
        .sociales {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        position: relative;
        right:5px;
        
    }  
    
   
    .none {
    display: block;
    text-align:justify;
    display: none;
    
    h4{
        margin-bottom: 8px;
    }

     
}
    .si{
        display: block;
        text-align: center;
        justify-content: center;
        position: relative;
        left: 20px;
        h5{
            margin-top: 8px;
            color: nth($colores, $n: 1);
            text-align: left;
            font-weight: bold;
            font-size: 14px;
            &:hover{
            text-decoration: underline;   
            }
            
        }
        li{
            font-size: 14px;
            margin-top: 8px;
            position: relative;         
            right: 23px;
        }   
        h4{
            
            text-align: justify;
            font-weight: bold;
        }
    } @media screen and (min-width: 1200px) {

        picture{
            display: contents;
        }
        img{
            width: 30vw;
        }
        article{
            display: inline-block;
        }
        h2{
            font-size:18;           
        }
        h4{
            text-align: left;
            font-weight: bold;
        }
        h5{
            font-size: 14px;
        }
        .none {
            display: block;
            font-size: 12px;
        }
        
        .newsletter {
            display: flex;
            justify-content: space-evenly;
            align-items: center;  
                form{
                    .fa-hand-pointer{
                        position: relative;
                        right: 27px;
                    }
                    input{
                        width: 25vw;
                    }
                }
            
            
        }
        
        .info {
            padding: 40px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 75vw;
    
            
        }
        
         
    }

}
