* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
    
    
}
#main1 a {
    color: unset;
    
}

a {
    text-decoration: unset;

}
 #main1 footer ul {
    padding-left: 0;
 }

 #main1 h2{
    font-size: 20px;
 }
 

